body {
    margin: 0px;
    padding: 0px;
    font-family: body-font;
}

:root {
    --primary-color: #f4a046;
    --secondary-color: #614c31;
    --white-color: #fff;
    --semiblack-color: #444;
    --gray-color: #ccc;
    --input-bg-color: #f3f0ed;
    --black-color: #000;
    --footer-color: #6f481d;
    --border:#5d5d5d;
}

@font-face {
    font-family: title-font;
    src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: sub-title-font;
    src: url(Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: body-font;
    src: url(Poppins/Poppins-Regular.ttf);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: title-font;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}